<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>influenceMe</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.460396177087-derj1913qmchbprpg96sf9qb2go5ujd0</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.19</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string></string>
		<string>glyphicons-halflings-regular.ttf</string>
		<string>glyphicons-halflings-regular.woff</string>
		<string>glyphicons-halflings-regular.woff2</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Font Awesome 5 Brands-Regular-400.otf</string>
		<string>Font Awesome 5 Free-Regular-400.otf</string>
		<string>Font Awesome 5 Free-Solid-900.otf</string>
		<string>Roboto-Bold.woff</string>
		<string>Roboto-Bold.woff2</string>
		<string>Roboto-Light.woff</string>
		<string>Roboto-Light.woff2</string>
		<string>Roboto-Medium.woff</string>
		<string>Roboto-Medium.woff2</string>
		<string>Roboto-Regular.woff</string>
		<string>Roboto-Regular.woff2</string>
		<string>Roboto-Thin.woff</string>
		<string>Roboto-Thin.woff2</string>
		<string>Esphimere Bold Italic.otf</string>
		<string>Esphimere Extra Light Italic.otf</string>
		<string>Esphimere Extra Light.otf</string>
		<string>Esphimere Italic.otf</string>
		<string>Esphimere Light Italic.otf</string>
		<string>Esphimere Semi Bold Italic.otf</string>
		<string>Esphimere Thin Italic.otf</string>
		<string>Esphimere Thin.otf</string>
		<string>Esphimere_Bold.otf</string>
		<string>Esphimere_Light.otf</string>
		<string>Esphimere_Semi_Bold.otf</string>
		<string>Esphimere.otf</string>
		<string>Esphimere-Bold.otf</string>
		<string>Esphimere-BoldItalic.otf</string>
		<string>Esphimere-ExtraLight.otf</string>
		<string>Esphimere-ExtraLightItalic.otf</string>
		<string>Esphimere-Italic.otf</string>
		<string>Esphimere-Light.otf</string>
		<string>Esphimere-LightItalic.otf</string>
		<string>Esphimere-SemiBold.otf</string>
		<string>Esphimere-SemiBoldItalic.otf</string>
		<string>Esphimere-Thin.otf</string>
		<string>Esphimere-ThinItalic.otf</string>
		<string>Flaticon.ttf</string>
		<string>Flaticon.woff</string>
		<string>icomoon.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
